
.body {
  margin: 0 auto; /* Căn giữa body khi trên màn hình rộng */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  color: #fff;
  overflow: hidden; /* Ngăn cuộn nếu không cần thiết */
  height: fit-content;
  width: 100vw; /* Chiều rộng cố định như trên màn hình mobile */
  max-width: 450px;
  height: 100vh;
}

header{
  background-image: url('images/bg_header.png');
  background-size: cover; /* Ảnh nền phủ kín màn hình */
  background-position: center; /* Căn giữa ảnh nền */
  background-repeat: no-repeat; /* Không lặp lại ảnh nền */
  width: 100%;
  height: 50px;
  display: flex; /* Để các thuộc tính căn giữa hoạt động */
  justify-content: center;
  align-items: center;
}
